<include file="Public/header" />
<body>
<div id="root">
    <div class="screen-xl">
        <div class="ant-layout ant-layout-has-sider">
			<include file="Public/left_menu" />
            <div class="ant-layout">
				<include file="Public/top" />
                <div class="ant-layout-content" style="margin: 24px 24px 0px;">
                    <div style="margin: -24px -24px 0px;">
                        <div class="pageHeader___Pze-l">
                            <div class="breadcrumb___3MKYT ant-breadcrumb">
                                <span>
                                    <span class="ant-breadcrumb-link">
                                        <a href="#/">
                                            首页
                                        </a>
                                    </span>
                                    <span class="ant-breadcrumb-separator">
                                        /
                                    </span>
                                </span>
                                <span>
                                    <span class="ant-breadcrumb-link">
                                        <span to="/dashboard/workplace">
                                            工作台
                                        </span>
                                    </span>
                                    <span class="ant-breadcrumb-separator">
                                        /
                                    </span>
                                </span>
                            </div>
                            <div class="detail___1rfGA">
                                <div class="main___3Slzs">
                                    <div class="row___3eawN">
                                    </div>
                                    <div class="row___3eawN">
                                        <div class="content___BnbuS">
                                            <div class="pageHeaderContent___1WBMY">
                                                <div class="avatar___3yyKI">
                                                    <span class="ant-avatar ant-avatar-lg ant-avatar-circle ant-avatar-image">
                                                        <img src="https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png"
                                                        />
                                                    </span>
                                                </div>
                                                <div class="content___3h7ql">
                                                    <div class="contentTitle___4Mmy4">
                                                        早安，<{$meminfo.nickname}>，祝你开心每一天！
                                                    </div>
                                                    <div>                                                        用阳光乐观的心态去面对生活和工作，它们一样也会回报给你阳光。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <include file="Public/footer" />
			</div>
        </div>
    </div>
</div>
</body>

</html>