<include file="Public/header" />
<body>
<div id="root">
    <div class="screen-xl">
        <div class="ant-layout ant-layout-has-sider">
			<include file="Public/left_menu" />
            <div class="ant-layout">
				<include file="Public/top" />
                <div class="ant-layout-content" style="margin: 24px 24px 0px; height: 100%;">
                    <div style="margin: -24px -24px 0px;">
                        <div class="pageHeader___Pze-l">
                            <div class="breadcrumb___3MKYT ant-breadcrumb">
                                <span>
                                    <span class="ant-breadcrumb-link">
                                        <a href="#/">
                                            首页
                                        </a>
                                    </span>
                                    <span class="ant-breadcrumb-separator">
                                        /
                                    </span>
                                </span>
                                <span>
                                    <span class="ant-breadcrumb-link">
                                        <span to="/dashboard/workplace">
                                            工作台
                                        </span>
                                    </span>
                                    <span class="ant-breadcrumb-separator">
                                        /
                                    </span>
                                </span>
                            </div>
                            <div class="detail___1rfGA">
                                <div class="main___3Slzs">
                                    <div class="row___3eawN">
                                    </div>
                                    <div class="row___3eawN">
                                        <div class="content___BnbuS">
                                            <div class="pageHeaderContent___1WBMY">
                                                <div class="avatar___3yyKI">
                                                    <span class="ant-avatar ant-avatar-lg ant-avatar-circle ant-avatar-image">
                                                        <img src="https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png"
                                                        />
                                                    </span>
                                                </div>
                                                <div class="content___3h7ql">
                                                    <div class="contentTitle___4Mmy4">
                                                        早安，曲丽丽，祝你开心每一天！
                                                    </div>
                                                    <div>
                                                        交互专家 | 蚂蚁金服－某某某事业群－某某平台部－某某技术部－UED
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="extraContent___3mck4">
                                            <div class="extraContent___1Im9T">
                                                <div class="statItem___axqF9">
                                                    <p>
                                                        项目数
                                                    </p>
                                                    <p>
                                                        56
                                                    </p>
                                                </div>
                                                <div class="statItem___axqF9">
                                                    <p>
                                                        团队内排名
                                                    </p>
                                                    <p>
                                                        8
                                                        <span>
                                                            / 24
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="statItem___axqF9">
                                                    <p>
                                                        项目访问
                                                    </p>
                                                    <p>
                                                        2,223
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <include file="Public/footer" />
			</div>
        </div>
    </div>
</div>
</body>

</html>