				<div class="ant-layout-footer" style="padding: 0px;">
                    <div class="globalFooter___3uaww">
                        <div class="links___lgymZ">                            
                            <a target="_blank" href="#">
                                <i class="anticon anticon-github">
                                </i>
                            </a>
                            <a target="_blank" href="#">
                                7477游戏
                            </a>
                        </div>
                        <div class="copyright___3hV2q">
                            <div>
                                Copyright
                                <i class="anticon anticon-copyright">
                                </i>
                                深圳游禧科技有限公司
                            </div>
                        </div>
                    </div>
                </div>
            