<div class="sider___g53Yu ant-layout-sider"  style="flex: 0 0 256px; max-width: 256px; min-width: 256px; width: 256px;">
                <div class="ant-layout-sider-children">
                    <div class="logo___2J9hf">
                        <a href="/">
                            <img  src="http://s1.7477.com/home/wwwv1/image/bg/logo.png" alt="logo"	style="margin-top: 14px;"/>
                            <!--<h1>7477管理后台</h1>-->
                        </a>
                    </div>
                    <ul class="ant-menu ant-menu-dark ant-menu-root ant-menu-inline" style="padding: 16px 0px; width: 100%;">
						<volist name="tree" id="vo">
                        <li class="ant-menu-submenu ant-menu-submenu-inline">
                            <div class="ant-menu-submenu-title" style="padding-left: 24px;">
                                <span><i class="anticon anticon-dashboard"></i><span><{$vo.title}></span></span>
                                <i class="ant-menu-submenu-arrow"></i>
                            </div>							
                            <ul class="ant-menu ant-menu-sub ant-menu-inline ant-menu-hidden" data_tag="tag0">
								<volist name='vo.child' id="v1">
									<if condition="$v1['ismenu'] eq 1">
										<li class="ant-menu-item" style="padding-left: 48px;"><!-- ant-menu-item-selected-->
											<a href="<{$v1.name}>"><span><{$v1.title}></span></a>
										</li>
									</if>
								</volist>
							</ul>
                        </li>
						</volist>
                    </ul>
                </div>
            </div>
<script>
    $(function () {
        var url_tag = "<?php echo strtolower(CONTROLLER_NAME.'/'.ACTION_NAME); ?>";
        $('.ant-menu-sub li a').each(function () {
            var _href = $(this).attr('href').toLowerCase();
            if (_href.indexOf(url_tag) > 0) {
                $(this).parent("li").addClass("ant-menu-item-selected");
				var html=$(this).parents('.ant-menu-submenu').html();				
                $(this).parents('.ant-menu-submenu').find('.ant-menu-submenu-title').trigger('click');return false;
            }
        });		
    });
</script>