<div class="sider___g53Yu ant-layout-sider"  style="flex: 0 0 256px; max-width: 256px; min-width: 256px; width: 256px;">
                <div class="ant-layout-sider-children">
                    <div class="logo___2J9hf">
                        <a href="#">
                            <img  src="http://s1.7477.com/home/wwwv1/image/bg/logo.png" alt="logo"	style="margin-top: 14px;"/>
                            <!--<h1>7477管理后台</h1>-->
                        </a>
                    </div>
                    <ul class="ant-menu ant-menu-dark ant-menu-root ant-menu-inline" style="padding: 16px 0px; width: 100%;">
                        <li class="ant-menu-submenu ant-menu-submenu-inline">
                            <div class="ant-menu-submenu-title" style="padding-left: 24px;">
                                <span><i class="anticon anticon-dashboard"></i><span>dashboard</span></span>
                                <i class="ant-menu-submenu-arrow"></i>
                            </div>
                            <ul class="ant-menu ant-menu-sub ant-menu-inline ant-menu-hidden" data_tag="tag0">
                                <li class="ant-menu-item ant-menu-item-selected" style="padding-left: 48px;">
                                    <a href="#"><span>分析页</span></a>
                                </li>
                                <li class="ant-menu-item" style="padding-left: 48px;">
                                    <a href="#"><span>监控页</span></a>
                                </li>
                                <li class="ant-menu-item" style="padding-left: 48px;">
									<a href="#"><span>工作台</span></a>                                   
                                </li>
                            </ul>
                        </li>
                        <li class="ant-menu-submenu ant-menu-submenu-inline">
                            <div class="ant-menu-submenu-title" style="padding-left: 24px;">
                                <span>
									<i class="anticon anticon-form"></i>
                                    <span>权限管理</span>
                                </span>
                                <i class="ant-menu-submenu-arrow"></i>
                            </div>
                            <ul class="ant-menu  ant-menu-sub ant-menu-inline ant-menu-hidden" data_tag="tag1">
                                <li class="ant-menu-item" style="padding-left: 48px;">
                                    <a href="/Permission/memberList/"><span>用户管理</span></a>
                                </li>
                                <li class="ant-menu-item" style="padding-left: 48px;">
                                    <a href="/Permission/roleList/"><span>角色管理</span></a>									
                                </li>
                                <li class="ant-menu-item" style="padding-left: 48px;">
									<a href="/Permission/nodeList/"><span>节点管理</span></a>                                    
                                </li>
                            </ul>
                        </li>
                        <li class="ant-menu-submenu ant-menu-submenu-inline">
                            <div class="ant-menu-submenu-title" style="padding-left: 24px;">
                                <span>
                                    <i class="anticon anticon-table"></i>
                                    <span>列表页</span>
                                </span>
                                <i class="ant-menu-submenu-arrow"></i>
                            </div>
                            <ul class="ant-menu  ant-menu-sub ant-menu-inline ant-menu-hidden" style="" data_tag="tag2">
                                <li class="ant-menu-item" style="padding-left: 48px;">
                                    <a href="#"><span>查询表格</span></a>
                                </li>
                                <li class="ant-menu-item" style="padding-left: 48px;">
									<a href="#"><span>标准列表</span></a>                                    
                                </li>
                                <li class="ant-menu-item" style="padding-left: 48px;">
									<a href="#"><span>卡片列表</span></a>
                                </li>
                                <li class="ant-menu-submenu ant-menu-submenu-inline">
                                    <div class="ant-menu-submenu-title" title="搜索列表" style="padding-left: 48px;">
                                        搜索列表
                                        <i class="ant-menu-submenu-arrow"></i>
                                    </div>
                                    <ul class="ant-menu  ant-menu-sub ant-menu-inline ant-menu-hidden"  style="">
                                        <li class="ant-menu-item" style="padding-left: 72px;">
                                            <a href="#"><span>搜索列表（文章）</span></a>
                                        </li>
                                        <li class="ant-menu-item ant-menu-item-selected" style="padding-left: 72px;">
                                            <a href="#"><span>搜索列表（项目）</span></a>
										</li>
                                        <li class="ant-menu-item" style="padding-left: 72px;">
                                            <a href="#"><span>搜索列表（应用）</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="ant-menu-submenu ant-menu-submenu-inline">
                            <div class="ant-menu-submenu-title" style="padding-left: 24px;">
                                <span>
                                    <i class="anticon anticon-profile"></i>
                                    <span>详情页</span>
                                </span>
                                <i class="ant-menu-submenu-arrow"></i>
                            </div>
                        </li>
                        <li class="ant-menu-submenu ant-menu-submenu-inline">
                            <div class="ant-menu-submenu-title" style="padding-left: 24px;">
								 <span>
                                    <i class="anticon anticon-check-circle-o"></i>
                                    <span>结果页</span>
                                </span>
                                <i class="ant-menu-submenu-arrow"></i>                                
                            </div>
                            <ul class="ant-menu  ant-menu-sub ant-menu-inline ant-menu-hidden" style="" data_tag="tag4">
                                <li class="ant-menu-item"  style="padding-left: 48px;">
                                    <a href="#"><span>成功</span></a>									
                                </li>
                                <li class="ant-menu-item ant-menu-item-selected" style="padding-left: 48px;">
                                    <a href="#"><span>失败</span></a>									
                                </li>
                            </ul>
                        </li>
                        <li class="ant-menu-submenu ant-menu-submenu-inline">
                            <div class="ant-menu-submenu-title" style="padding-left: 24px;">
                                <span>
                                    <i class="anticon anticon-warning"></i>
                                    <span>异常页</span>
                                </span>
                                <i class="ant-menu-submenu-arrow"></i>								
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            