<!DOCTYPE html>
<html lang="zh-CN" class="hd">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>7477网页游戏平台-系统后台管理</title>
<!-- 2. 全局常用UI模块样式 -->
<script type="text/javascript" src="__JS__/jquery-3.3.1.min.js"></script>
   <link href="__CSS__/login.css" rel="stylesheet" />
   	<link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css" />
	<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
  <script>
  //一般直接写在一个js文件中
	layui.use(['layer', 'form'], function(){
	  var layer = layui.layer
	  ,form = layui.form;
	});
    $(function() {

      $('.button').click(function(event) {
        event.preventDefault();
        var username=$('#u_name').val();
        var password=$('#u_password').val();
        if (!/^[a-zA-Z0-9_-]|[\u4e00-\u9fa5]{2,16}$/.test(username)) {
		  layer.msg("请输入正确的用户名！", {icon:5,time:1000});
          return;
        }
        if (password.length<6) {          
		   layer.msg("请输入6位数以上的密码！", {icon:5,time:1000});         
          return;
        }
        $.ajax({
          url:'/Public/checkLogin',
          dataType:"json",
          type:'POST',
          cache:false,
          data:'username='+username+'&password='+password,
          success: function(data) {
            if (data.code==1) {
              window.location.href=data.data;
            }else {
              layer.msg("账号或者密码错误！", {icon:5,time:1000});     
              return;
            }
          }
        });
      });
      //var passwordInput = document.getElementById('u_password');
      //var usernameInput = document.getElementById('u_name');
      var enter_func = function (e) {
        if(!e) e = window.event;
        if ((e.keyCode || e.which) == 13) {
          $('.button').trigger('click');
        }
      };
      document.onkeydown = enter_func;
    });
  </script>

</head>
<body>

		<div id="root">
            <div class="container___3vKIY">
                <div class="content___2n7C3">
                    <div class="top___1bcJZ">
                        <div class="header___180Tw">
                            <a href="#/">                               
                                <span class="title___2qsKd">7477游戏</span></a>
                        </div>
                        <div class="desc___3Rt7G">7477网页游戏是中国最大的网页游戏运营平台！</div></div>
                    <div class="main___1wlN8">
                        <div class="login___33fY0">
                            <form class="ant-form ant-form-horizontal">
                                <div>
                                    <div class="ant-tabs ant-tabs-top tabs___WBds- ant-tabs-line ant-tabs-no-animation">
                                        <div class="ant-tabs-content ant-tabs-content-no-animated">
                                            <div>
                                                <div class="ant-row ant-form-item">
                                                    <div class="ant-form-item-control-wrapper">
                                                        <div class="ant-form-item-control has-success">
                                                            <span class="ant-form-item-children">
                                                                <span class="ant-input-affix-wrapper ant-input-affix-wrapper-lg">
                                                                    <span class="ant-input-prefix">
                                                                        <i class="anticon anticon-user prefixIcon___3nFE5"></i>
                                                                    </span>
                                                                    <input type="text" name="u_name" id="u_name" placeholder="用户名" class="ant-input ant-input-lg"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ant-row ant-form-item">
                                                    <div class="ant-form-item-control-wrapper">
                                                        <div class="ant-form-item-control has-success">
                                                            <span class="ant-form-item-children">
                                                                <span class="ant-input-affix-wrapper ant-input-affix-wrapper-lg">
                                                                    <span class="ant-input-prefix">
                                                                        <i class="anticon anticon-lock prefixIcon___3nFE5"></i>
                                                                    </span>
                                                                    <input type="password" name="u_password" id="u_password" placeholder="密码" id="password" class="ant-input ant-input-lg"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>            
                                        </div>
                                    </div> 
                                    <div class="ant-row ant-form-item">
                                        <div class="ant-form-item-control-wrapper">
                                            <div class="ant-form-item-control">
                                                <span class="ant-form-item-children">
                                                    <button type="submit" class="ant-btn submit___1Mc7- ant-btn-primary ant-btn-lg button">
                                                        <span>登 录</span></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>                                  
                                </div>
                            </form>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
</body>
</html>