<include file="Public/header" />
<div id="SiteMapPath">
    <ul>
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/System/channel_list">渠道管理</a>
        </li>
        <li>增加渠道</li>
    </ul>
</div>
<div id="MainContentDIV">
    <link rel="stylesheet" type="text/css" href="__CSS__/managerMenu.css">
    <include file="Public/left_menu" />

    <div id="ManagerRight" class="ManagerRightShow">
            <div id="count_body" style="margin-top: 20px;">
                <form enctype="multipart/form-data">
                    <table class="huitable">
    					<tr>
    						<td colspan='2'>	
    						  <input type="button"  id="subbtn" value="批量导入" class="manager-btn s-btn search-btn">
    						  <span class="tips res_tips"></span>
    						</td>							 
    					</tr>
                        <colgroup>
                            <col width="10%">
                            <col>
                        </colgroup>
                        <tbody>									
                        <tr><td>上级渠道：</td><td>
                            <select class="alert_input add_input_pid" name="pid">
                            <option value="0">一级渠道</option>
                                <volist name="channel_list" id="vo">
                                    <option value="<{$vo.id}>"><{$vo.name}></option>
                                </volist>
                            </select>
                        </td></tr>
                        <tr><td>渠道类型：</td><td>
                            <select class="alert_input add_input_tid" name="tid">
                                <volist name="channel_type_list" id="vo">
                                    <option value="<{$vo.tid}>"><{$vo.name}></option>
                                </volist>
                            </select>
                        </td></tr> 					
    					<table class="huitable" id="formtable" style="width: 40%">
                        <colgroup>
                            <col width="80%">
                            <col width="20%">
                        </colgroup>
                        <thead>
                        <tr>   
                            <input type="file" name="file"/> 
                        </tr>					
                        </thead>
                        <tbody>				
    					</tbody>
    					</table>                  
                        </tbody>
                    </table>
                </form>
            </div>
    </div>
</div>
<script>
$(function(){ 
    $('#subbtn').click(function () {
        var pid = $("select[name='pid']").val();        
        var tid = $("select[name='tid']").val();
        var file = $("input[name='file']").val();          
        if (pid == '') {
            $('#tips').css('color', 'red').html('顶级栏目不能为空').show();
            return false;
        }
        if (tid == '') {
            $('#tips').css('color', 'red').html('渠道类型不能为空').show();
            return false;
        }
        if (file === false) {
            $('#tips').css('color', 'red').html('文件不能为空').show();
            return false;
        }

        var options = {
            url: "/System/channel_pl_dao",
            type:"post",
            // enctype:"multipart/form-data",
            data: {
            'pid': pid,
            'tid': tid,
            'file':file
            },
            success: function (ret) {
                ret=jQuery.parseJSON(ret);
                if(ret.code == 1){
                    layer.msg('添加成功', {icon:6,time:1000}, function () {window.location.href="/System/channel_list";}); 
                    return false; 
                }else if(ret.code == -3){
                    layer.msg(ret['msg'], {icon:5,time:10000});
                    return false;
                }else{
                    layer.msg('添加失败', {icon:5,time:1000});
                    return false;
                }
                
            },
            error:function () {
                layer.msg('未知错误', {icon:5,time:1000});
            },
        };      
        $("form").ajaxSubmit(options); 
    });
})
</script>
<include file="Public/footer" />