<include file="Public/header" />
<link href="__CSS__/node.css" rel="stylesheet" type="text/css" />
<div id="SiteMapPath">
    <ul>
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/System/channel_list">渠道管理</a>
        </li>
        <li>渠道列表</li>
    </ul>
</div>
<div id="MainContentDIV">
    <link rel="stylesheet" type="text/css" href="__CSS__/managerMenu.css">
    <include file="Public/left_menu" />
    <div id="ManagerRight" class="ManagerRightShow">
       <form id="myform" name="countform" method="get" action="/System/channel_list">
		<div id="count_search">
			<ul class="search_box">				
				<li class="line">				
					<label class="title">一级渠道：</label>
					<label class="msg">
						<select name="channelid" id="channelid" style="width:200px; height:30px;">
							<option value="">所有</option>							
							<volist name="topchannel" id="vo"><option value="<{$vo.id}>" <if condition="$channelid eq $vo['id']">selected</if>><{$vo.name}></option></volist>
						</select>
					</label>	
                    <label class="title">渠道名：</label>
                    <label class="msg"><input type="text" style="width:200px" id="s_username" name="s_username" value="<{$s_username}>" class="manager-input s-input"></label>
                    <label class="title" style="width:80px">添加日期：</label>
                    <input type="hidden" class="start_input" name="start">
                    <input type="hidden" class="end_input" name="end">
                    <div class="ta_date" id="div_date_demo3">
                        <span class="date_title" id="date_demo3"></span>
                        <a class="opt_sel" id="input_trigger_demo3" href="#">
                            <i class="i_orderd"></i>
                        </a>
                    </div>
                    <input type="submit" name="searchbtn" value="搜索" class="manager-btn s-btn search-btn" style="margin-top:2px;">
				</li>							
			</ul>
			<a href="<{:U('System/channel_add')}>" class="manager-btn orange-btn" style=" margin-top:0px; height:32px!important; line-height:27px!important;">增加渠道</a>
			<a href="<{:U('System/channel_add_pl')}>" class="manager-btn orange-btn" style=" margin-top:0px; height:32px!important; line-height:27px!important;">批量增加渠道</a>
            <a href="<{:U('System/channel_pl_dao')}>" class="manager-btn orange-btn" style=" margin-top:0px; height:32px!important; line-height:27px!important;">批量导入渠道</a>				
		</div>
		</form>
		<div id="count_body" style="margin-top: 20px;">
            <table class="huitable node_table" id="list-table">
                <thead>
                <tr><th>ID</th><th>渠道名</th><th>简写渠道名</th><th>描述</th><th>启用</th><th>添加时间</th><th>操作</th></tr>
                </thead>
                <tbody>
                <volist name="list" id="vo">
                    <tr data-id="<{$vo.id}>">
                        <td class="id" data="<{$vo.id}>"><{$vo.id}></td>                       
                        <td class="name" data="<{$vo.name}>"><{$vo.name}></td>
                        <td class="short_name" data="<{$vo.short_name}>"><{$vo.short_name}></td>
                        <td class="description" data="<{$vo.description}>"><{$vo.description}></td>
                        <td class="status" data="<{$vo.status}>"><switch name="vo.status"><case value="1">是</case><case value="0">否</case></switch></td>
                        <td class="addtime" data="<{$vo.addtime}>"><{$vo.addtime|date="Y-m-d H:i:s",###}></td>
                        <td>    
							<a class="btn_edit" href="<{:U('System/channel_edit',array('id'=>$vo['id']))}>">编辑</a>
							&nbsp;|&nbsp;
							<a class="btn_dele" href="javascript:void(0);">删除</a>                       
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
		 <div id="jsonpage" class="pagebox"><div class="pageinfo"><{$page}></div></div>
        <div class="product-detail-desc mt-15">
            <div class="title mb-5">
                <span>渠道管理说明：</span>
            </div>
            <p class="pt-5"><span  style="font-weight:bold;">渠道管理说明：</span>当天账号显示渠道的详细信息，包括渠道名，简写渠道名、描述、是否启动、添加时间、操作、增加渠道按钮、批量增加渠道按钮，并可以通过一级渠道框搜索渠道。</p>
            <p class="pt-5"><span style="font-weight:bold;">使用者说明：</span>通过增加渠道和批量增加渠道按钮，可以增加渠道名；并可以通过编辑按钮进行已有的渠道名进行编辑，但不能进行删除。</p>
        </div>
    </div>
</div>

<script>
    $(function () {
        var start = "<{$start}>";
        var end = "<{$end}>";
        $('.start_input').attr('value',start);
        $('.end_input').attr('value',end);
        var dateRange = new pickerDateRange('date_demo3', {
            aRecent7Days: 'aRecent7DaysDemo3', //最近7天
            isTodayValid: true,
            startDate: start,
            endDate: end,
            defaultText: ' 至 ',
            inputTrigger: 'input_trigger_demo3',
            theme: 'ta',
            success: function (obj) {
                $("#dCon_demo3").html('开始时间 : ' + obj.startDate + '<br/>结束时间 : ' + obj.endDate);
                $("#input_trigger_demo3").parents('li.line').find('.start_input').attr('value', obj.startDate);
                $("#input_trigger_demo3").parents('li.line').find('.end_input').attr('value', obj.endDate);
            }
        });
        //删除角色
        $('.btn_dele').click(function () {
            var id = $(this).parents('tr').attr('data-id');
            if (id == '') return false;
            layer.confirm('确定要删除该渠道？', {
                btn: ['确定','取消']
            }, function(){
                doDeleRole(id);
            });
        });

        //删除角色
        function doDeleRole(id) {
            $.ajax({
                type:'post',
                dataType:'json',
                data:{id:id},
                url:'/System/channel_dele',
                error:function () {
                    layer.msg('未知错误', {icon:5,time:1000});
                },
                success:function (data) {
                    if (data.code == 1) {
                        layer.msg('删除成功', {icon:6,time:1000}, function () {location.reload()});
                    }else {
                        layer.msg(data.msg, {icon:5,time:1000});
                    }
                }
            });
        }
    })
</script>

<include file="Public/footer" />