<include file="Public/header" />
<div id="SiteMapPath">
    <ul>
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/System/channel_list">渠道管理</a>
        </li>
        <li>增加渠道</li>
    </ul>
</div>
<div id="MainContentDIV">
    <link rel="stylesheet" type="text/css" href="__CSS__/managerMenu.css">
    <include file="Public/left_menu" />

    <div id="ManagerRight" class="ManagerRightShow">
            <div id="count_body" style="margin-top: 20px;">
                <table class="huitable">
					<tr>
						<td colspan='2'>
						<input type="button" value="增加更多" id="addmore" class="manager-btn s-btn search-btn">	
						  <input type="button"  id="subbtn" value="批量添加" class="manager-btn s-btn search-btn">
						  <span class="tips res_tips"></span>
						</td>	
						 
					</tr>
                    <colgroup>
                        <col width="10%">
                        <col>
                    </colgroup>
                    <tbody>									
                    <tr><td>上级渠道：</td><td>
                        <select class="alert_input add_input_pid" name="pid" id="select_sub">
                            <if condition="$admin">
                                <option value="0">一级渠道</option>
                                <else />
                                <option value="-1" disabled selected>请选择一级渠道</option>
                            </if>
                            <volist name="channel_list" id="vo">
                                <option value="<{$vo.id}>"><{$vo.name}></option>
                            </volist>
                        </select>
                        <span id="select_tips" style="display: none"></span>
                    </td></tr>
                    <tr><td>渠道类型：</td><td>
                        <select class="alert_input add_input_tid" name="tid">
                            <volist name="channel_type_list" id="vo">
                                <option value="<{$vo.tid}>"><{$vo.name}></option>
                            </volist>
                        </select>
                    </td></tr> 					
					<table class="huitable" id="formtable" style="width: 40%">
                    <colgroup>
                        <col width="80%">
                        <col width="20%">
                    </colgroup>
                    <thead>
                    <tr><th>渠道名</th><th>操作</th></tr>					
                    </thead>
                    <tbody>				
					</tbody>
					</table>                  
                    </tbody>
                </table>
            </div>
    </div>
</div>
<script>
   $(function(){
		create_tr(5);
		$('#addmore').click(function () {
            create_tr(1);
        });	
		$('.delebtn').live('click', function () {
            if ($('#formtable tbody tr').length <= 1) {
                alert('至少要保留一个！');
                return false;
            }
            $(this).parents('tr').remove();
        });		
		 //批量增加下线
        $('#subbtn').click(function () {
            $('#select_tips').hide();
            var select_sub =  $('#select_sub').val();
            if(select_sub<0){
                $('#select_tips').css('color', 'red').html('您还未选择一级渠道').show();
                return false;
            }
            $('.tips').hide();
            var data = checkdata();
            if (data == false) return false;
            $.ajax({
                type:'post',
                dataType:'json',
                data:{data:JSON.stringify(data)},
                url:'/System/channel_add_pl',
                error:function () {
                    $('.res_tips').css('color', 'red').html('未知错误').show();
                },
                success:function (data) {
                    if (data.code == 1) {
                        var msg = '成功注册'+data.info.success.length+'，失败'+data.info.fail.length;
                        $('.res_tips').css('color', 'limegreen').html(msg).show();
                        var info = data.info;
                        for (var i in info.fail) {
                            if (info['fail']) {
                                var errArr = info['fail'][i]['msg'];
                                for (var j in errArr) {									
                                    $('#formtable tbody tr input[tag="'+errArr[j]['tag']+'"]').siblings('.tips').css('color', 'red').html(errArr[j]['show']).show();
                                }
                            }
                        }
                        layer.msg('成功成功', {icon:6,time:1000}, function () {							
                            $('input[name="username"]').val('');
                        });
                    }else {
                        $('.res_tips').css('color', 'red').html(data.msg).show();
                    }
                }
            });
        });
   });
   //添加表单组
    function create_tr(num) {
        num = num?num:1;
        for (var i=1;i<=num;i++) {
            var _tr_html = '<tr>';
            _tr_html += '<td style="padding:2px 0 2px 5px;"><input type="text" tag="'+Math.random().toString(36).substr(2)+'" name="username" class="manager-input s-input" style="width: 300px;"><span class="tips"></span></td>';
            _tr_html += '<td style="padding:2px 0 2px 5px;"><input type="button" name="delebtn" value="删除" class="manager-btn s-btn orange-btn ml-10 delebtn"></td>';
            _tr_html += '</tr>';
            $('#formtable tbody').append(_tr_html);
        }
    }
	
	//检测并获取数据
    function checkdata() {
        var data = [];
        var error_num = 0; 
		var pid=$("select[name='pid']").val();
		var tid=$("select[name='tid']").val();
        $('#formtable tbody tr').each(function () {
            var this_error_num = 0;
            var username = $(this).find('input[name="username"]').val();
            var tag_username = $(this).find('input[name="username"]').attr('tag');
            //当前行全部为空则略去           
            if (username == '') {
                $(this).find('input[name="username"]').siblings('span.tips').css('color', 'red').html('用户名不能为空！').show();
                this_error_num++;
				return false;
            } 
            error_num += this_error_num;
            if (this_error_num > 0) return true;
            data[data.length] = {username:username,tag_username:tag_username,pid:pid,tid:tid};
        });		
        if (error_num > 0 || data.length == 0) return false;
        else return data;
    }

</script>
<include file="Public/footer" />