<include file="Public/header" />
<link href="__CSS__/node.css" rel="stylesheet" type="text/css" />
<div id="SiteMapPath">
    <ul>
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/channel/real_reg">系统管理</a>
        </li>
        <li>用户渠道</li>
    </ul>
</div>
<div id="MainContentDIV">
    <link rel="stylesheet" type="text/css" href="__CSS__/managerMenu.css">
    <include file="Public/left_menu" />

    <div id="ManagerRight" class="ManagerRightShow">
        <form id="myform" name="countform" method="get" action="/System/userChannel">
            <div id="count_search">
                <ul class="search_box">
                    <li class="line">
                        <label class="title">用户名：</label>
                        <label class="msg"><input type="text" style="width:200px" id="s_username" name="s_username" value="<{$s_username}>" class="manager-input s-input"></label>
                    </li>
                    <li class="line">
                        <input type="submit" name="searchbtn" value="搜索" class="manager-btn s-btn search-btn">
                    </li>
                </ul>
            </div>
            <div id="count_body" style="margin-top: 20px;">
                <table class="huitable node_table" id="list-table" style="table-layout: fixed;">
                    <tr><th>ID</th><th>帐号</th><th style="width: 40%">渠道</th><th>操作</th></tr>
                    <volist name="list" id="vo">
                        <tr data-id="<{$vo.id}>">
                            <td><{$vo.id}></td>
                            <td class="username"><{$vo.username}></td>
                            <td class="channel" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                                <volist name="vo.clist" id="vv" key="i">
                                    <{$vv.short_name}>&nbsp;&nbsp;
                                </volist>
                            </td>
                            <td>
                                <a class="btn_edit" href="javascript:void(0);">修改渠道</a>
                            </td>
                            <input type="hidden" name="cid" value="<{$vo.channel_id}>" />
                        </tr>
                    </volist>
                    <tr><td colspan="7"><{$pagebar}></td></tr>
                </table>
            </div>
        </form>
        <div class="product-detail-desc mt-15">
            <div class="title mb-5">
                <span>用户渠道说明：</span>
            </div>
            <p class="pt-5"><span  style="font-weight:bold;">用户渠道说明：</span>广告投放媒体渠道详情，会展示账号、渠道和操作。</p>
            <p class="pt-5"><span style="font-weight:bold;">使用者说明：</span>可以通过用户名框进行搜索查询；对用户渠道进行修改。</p>
        </div>
    </div>
</div>
<style>
    tr.list1{line-height: 21px !important;}
</style>
<div id="edit_alert_tmp" style="display: none">
    <div class="form_content edit_member_content" style="padding: 20px;">
        <input type="hidden" class="edit_id" />
        <table width="100%">
            <tr><td>帐号</td><td class="edit_username"></td></tr>
            <tr class="list1">
                <td>一级渠道列表</td>
                <td>
                    <div class="checkbox" style="width:310px;height:265px;overflow: scroll;border: 1px solid #eee;" >
                        <volist name="clist1" id="vo">
                            <input type="checkbox" name="channel" value="<{$vo.id}>"><{$vo.short_name}><br />
                        </volist>
                    </div>

                </td>
            </tr>
            <tr><td></td>
                <td style="text-align: center;">
                    <div class="select" style="display:inline-block;float:left;margin-top:10px;">
                        <input type="radio" name="select" class="select_all" value="<{$vo.id}>">全选
                        <input type="radio" name="select" class="select_none" value="<{$vo.id}>">全不选
                    </div>
                    <a class="btn_sub" style="display:inline-block;float:right;margin-top:15px;">保存</a></td></tr>
        </table>
    </div>
</div>
<script>
    $('.btn_edit').click(function () {
        var _tr = $(this).parents('tr');
        var user_id = _tr.attr('data-id');
        var username = _tr.find('.username').html();
        if (user_id == '') return false;
        var c_id = _tr.find('input[name="cid"]').val();
        $('#edit_alert_tmp .edit_id').attr('value', user_id);
        $('#edit_alert_tmp .edit_username').html(username);
        var channel_list = c_id.split('-');
        //将channel_list中的id分别填入对应的checkbox
        $('.checkbox input[type="checkbox"]').each(function(i){
            $(this).attr('checked',false);
            if($.inArray($(this).val(),channel_list) > -1){
                $(this).attr('checked',true);
            }else{
                $(this).attr('checked',false);
            }
        });

        var _form_id = 'add_form_' + Math.ceil(Math.random()*1000);
        var _html = '<div id="'+_form_id+'" class="add_node_div">' + $('#edit_alert_tmp').html() + '</div>';
        layer.open({
            type: 1,
            title: '编辑渠道',
            skin: 'layui-layer', //加上边框
            area: ['420px', '450px'], //宽高
            content: _html
        });
        $('#'+_form_id+' .btn_sub').click(function () {
            doEditUserChannel(this);
        });
        $('#'+_form_id+' .edit_input_sub').change(function () {
            var flag = $('#'+_form_id+' input[type="radio"][name="channel"]:checked').val();
            if (flag == 1) {
                $('#'+_form_id+' .list1').show();
                $('#'+_form_id+' .list2').hide();
            }else {
                $('#'+_form_id+' .list2').show();
                $('#'+_form_id+' .list1').hide();
            }
        });
        $('.select .select_all').live('change',function(){
            $('.checkbox input[type="checkbox"]').prop('checked', $(this).prop("checked"));;
        });
        $('.select .select_none').live('change',function(){
            $('.checkbox input[type="checkbox"]').prop('checked', false);;
        });
    });

    //编辑渠道权限
    function doEditUserChannel(_this) {
        var form_content = $(_this).parents('.form_content');
        var user_id = form_content.find('.edit_id').val();
        if (user_id == '') return false;
        var channel = new Array();
        var length = $('.checkbox').children('input[type="checkbox"]').length;
        var sub_length = length/2;
        //循环判断
        $('.checkbox input[type="checkbox"]').each(function (i) {
            if(i >= sub_length){
                if($(this).is(':checked')){
                    channel.push($(this).val());
                }
            }
        });
        if (!channel) {
            layer.msg('请选择渠道', {icon:5,time:1000});
            return false;
        }
        var data = {user_id:user_id,channel:channel};
        $.ajax({
            type:'post',
            dataType:'json',
            data:data,
            url:'/System/doEditUserChannel',
            success:function (data) {
                if (data.code == 1) {
                    layer.msg('保存成功', {icon:6,time:1000}, function () {
                        location.reload();
                    });
                }else {
                    layer.msg(data.msg, {icon:5,time:1000});
                }
            }
        });
    }
</script>
<include file="Public/footer" />