<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__JS__/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">数据表</a></li>
    <li><a href="#">基本内容</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
    
    	<ul class="toolbar">
        <li class="click"><span><img src="__IMG__/t01.png" /></span>添加角色</li>
        <li><span><img src="__IMG__/t03.png" /></span>批量删除</li>        
        </ul>
        
        
        <ul class="toolbar1">
        <li><span><img src="__IMG__/t05.png" /></span>设置</li>
        </ul>
    
    </div>
    
    
    <table class="tablelist">
    	<thead>
    	<tr>
        <th><input name="" type="checkbox" value="" checked="checked"/></th>
        <th>编号<i class="sort"><img src="__IMG__/px.gif" /></i></th>
        <th>角色名称</th>
        <th>状态</th>
        <th>说明</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='list' id='user'}
        <tr>
        <td><input name="" type="checkbox" value="" /></td>
        <td>{$user.id}</td>
        <td>{$user.name}</td>
        <td>{$user.status}</td>
        <td>{$user.remark}</td>
        <td><a href="#" class="tablelink">修改</a>     <a href="#" class="tablelink"> 删除</a></td>
        </tr> 
		{/volist}	    
        </tbody>
    </table>
    
   
    <div class="pagin">
		{$list->render()}  
    </div>
    
    
    <div class="tip">
    	<div class="tiptop"><span>添加角色</span><a></a></div>
		<div class="tabson">  
			<ul class="forminfo">
				<li><label>角色名称<b>*</b></label><input name="" type="text" class="dfinput" value="请填写角色名称" /></li>
				<li><label>状态</label><cite><input name="status" type="radio" value="1" checked="checked" />是&nbsp;&nbsp;&nbsp;&nbsp;<input name="status" type="radio" value="0" />否</cite></li> 
			</ul>
		</div>   
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>
    
    </div>
    
    
    
    
    </div>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>

</html>
