<html>
<head>
<title></title>
</head>
    <link href="__CSS__/main.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css" />
<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
<script type="text/javascript" src="__JS__/jquery-3.3.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/webuploader/webuploader.js"></script>
<script type="text/javascript" src="__JS__/uploader.js"></script>
<link href="__CSS__/upload.css" rel="stylesheet" type="text/css" />
<script src="__JS__/jquery.form.js"></script> 
<style>
.textright{
text-align:left;
width:40px;
}
</style> 
<body>
<form class="layui-form" style="padding:20px;" onSubmit = "return false;">
<div class="ant-form-item ">   
	<{$html}>
	<div class="layui-form-item">
		<H3 style="font-weight:bolder; background:#f0f0f3; padding:10px">|--规格尺寸--</H3>
	</div>
	<div class="layui-form-item">
		<div class=" ant-col-sm-24 ant-col-md-12 ant-col-lg-4">
			<label class="layui-form-label textright" style="width:100px;">
			<font color="red">*</font>规格名称</label>
			<div class="layui-input-block" style="margin-left:100px;">
				<input type="text" name="size_sizename[]" lay-verify="required" lay-vertype="tips" placeholder="请输入规格名称" autocomplete="off" class="layui-input" value="">
			</div>
		</div>
		<div class=" ant-col-sm-24 ant-col-md-12 ant-col-lg-4">
			<label class="layui-form-label textright" style="width:100px;">
			<font color="red">*</font>价格</label>
			<div class="layui-input-block" style="margin-left:100px;">
				<input type="text" name="size_price[]" lay-verify="required" lay-vertype="tips" placeholder="请输入规格价格" autocomplete="off" class="layui-input" value="">
			</div>
		</div>
		<div class=" ant-col-sm-24 ant-col-md-12 ant-col-lg-4">
			<label class="layui-form-label textright" style="width:100px;">
			<font color="red">*</font>库存</label>
			<div class="layui-input-block" style="margin-left:100px;">
				<input type="text" name="size_kucun[]" lay-verify="required" lay-vertype="tips" placeholder="请输入库存" autocomplete="off" class="layui-input" value="">
			</div>
		</div>
		<div class=" ant-col-sm-24 ant-col-md-12 ant-col-lg-4">			
			<label class="layui-form-label textright" style="width:100px;">
			<font color="red">*</font>状态</label>
			<div class="layui-input-block" style="margin-left:100px;">
				<select name="size_status[]">	
					<option value="1">上架</option>
					<option value="0">下架</option>
				</select>
			</div>
		</div>
		<div class=" ant-col-sm-24 ant-col-md-12 ant-col-lg-4">
			<button class="layui-btn" id="addsize" lay-filter="demo1" style="background-color: #1890ff;border-color: #1890ff; margin-left:10px;">新增+</button>
		</div>
	</div>
	
	<div class="layui-form-item">
		<div>
			<button class="layui-btn" id="subbtn"lay-filter="demo1" style="width:100%;background-color: #1890ff;border-color: #1890ff;">立即提交</button>
		</div>
	</div>
</div>
</form>
<script>

var test= {};
var len = $("textarea[data_type=editor]").length;
for(var i=0;i<len;i++){
	var editor_name = $("textarea[data_type=editor]").eq(i).attr('name');			
	test.editor_name = UE.getEditor(editor_name,{
		initialFrameWidth : "100%",
		initialFrameHeight: 400
	});						 
}


//一般直接写在一个js文件中
layui.use(['layer', 'form'], function(){
  var layer = layui.layer
  ,form = layui.form;
});

$(function(){
	$('body').on('click','#subbtn',function() {
		var options = {
			url: "/goods/goodadd",
			type:"post",
			data: {},
			success: function (data) {
				data=jQuery.parseJSON(data);
				if(data.code==1){
					layer.msg(data.msg, {icon:6,time:1000}, function () {
						 var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
						 parent.location.reload()
						 parent.layer.close(index);
					}); 
					return false; 
				}else{
					layer.msg(data.msg, {icon:5,time:1000});
					return false;
				}
				
			},
			error:function () {
				layer.msg('未知错误', {icon:5,time:1000});
			},
		}; 
			
		$("form").ajaxSubmit(options);      
	});	
	$('body').on('click','#addsize',function() {
		var _html=$(this).parents(".layui-form-item").prop("outerHTML");
		var btn_html = $("#addsize").prop("outerHTML");
		var del_html='<button class="layui-btn delsize" style="background-color: #efa887;border-color: #efa887; margin-left:10px;">删除-</button>'
		_html = _html.replace(btn_html,del_html);
		$(this).parents(".layui-form-item").after(_html);
	});	
	$('body').on('click','.delsize',function() {
		$(this).parents(".layui-form-item").remove();		
	});	
})
</script> 
</body>
<html>