<html>
<head>
<title></title>
</head>
    <link href="__CSS__/main.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css" />
<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
<script type="text/javascript" src="__JS__/jquery-3.3.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/webuploader/webuploader.js"></script>
<script type="text/javascript" src="__JS__/uploader.js"></script>
<link href="__CSS__/upload.css" rel="stylesheet" type="text/css" />
<style>
.textright{
text-align:left;
width:40px;
}
</style> 
<body>
<form class="layui-form" style="padding:20px;" onSubmit = "return false;">
<div class="ant-form-item ">   
	<{$html}>
	<div class="layui-form-item">
		<div>
			<button class="layui-btn" lay-filter="demo1" style="width:100%;background-color: #1890ff;border-color: #1890ff;">立即提交</button>
		</div>
	</div>
</div>
</form>
<script>

var test= {};
var len = $("textarea[data_type=editor]").length;
for(var i=0;i<len;i++){
	var editor_name = $("textarea[data_type=editor]").eq(i).attr('name');			
	test.editor_name = UE.getEditor(editor_name,{
		initialFrameWidth : "100%",
		initialFrameHeight: 400
	});						 
}


//一般直接写在一个js文件中
layui.use(['layer', 'form'], function(){
  var layer = layui.layer
  ,form = layui.form;
});

$(function(){
	$('.layui-btn').click(function (e) {
		doAddRole(this);	
	});
})

//增加
function doAddData(_this) {	
}
</script> 
</body>
<html>