<include file="Public/header" />
<link href="__CSS__/table.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="__CSS__/basictable.css" />
<script type="text/javascript" src="__JS__/jquery.basictable.min.js"></script>   
<link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css" />
<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>   
<script>
//一般直接写在一个js文件中
layui.use(['layer', 'form'], function(){
  var layer = layui.layer
  ,form = layui.form;
});
</script> 
<body>
<div id="root">
    <div class="screen-xl">
        <div class="ant-layout ant-layout-has-sider">
			<include file="Public/left_menu" />
            <div class="ant-layout">
				<include file="Public/top" />
                <div class="ant-layout-content" style="margin: 24px 24px 0px;">
<div style="margin: -24px -24px 0px;">
    <div class="pageHeader___Pze-l">
        <div class="breadcrumb___3MKYT ant-breadcrumb">          
			<span class="ant-breadcrumb-link"><a href="#">首页</a></span>
			<span class="ant-breadcrumb-separator">/</span>       
			<span>权限管理</span>
			<span class="ant-breadcrumb-separator">/</span>
			<button type="button" class="ant-btn ant-btn-primary ant-btn-sm btn_add" style="float:right;margin-right:10px;">
				<span>+ 新建一级节点 </span>
			</button>
        </div>  
		<div >
		
		</div>
    </div>
	
    <div class="content___13wW7">
        <div class="ant-card">
            <div class="ant-card-body"> 
                        <div class="tableListForm___1316u">
                   <form class="layui-form">
                                <div class="ant-row">
									
								  <div class="ant-col-sm-24 ant-col-md-5" >
									  <div class="layui-form-item">
										<label class="layui-form-label">主模块</label>
										<div class="layui-input-block" style="margin-left:95px;!important">
										  <select name="zhu_module">
											<option value=""></option>
											<volist name="zhumodule_list" id="vo">
											<option value="<{$key}>" <if condition="$key eq $req['zhu_module']">selected</if>><{$key}></option>
											</volist>
										  </select>
										</div>
									  </div>
								  </div>								                           
                                    <div class="ant-col-sm-24 ant-col-md-8" >
									 <div class="layui-form-item" style="min-height:36px; line-height:36px;margin-left:20px;">
										<button type="submit" class="ant-btn ant-btn-primary">
											<span>查 询</span></button>
										
										<a style="margin-left: 8px;">展开
											<i class="anticon anticon-down"></i></a>
                                      </div>
                                    </div>
                                </div>
                            </form>
                        </div>  
<div  class="ant-alert ant-alert-info">
	<i class="anticon anticon-info-circle ant-alert-icon"></i>
	<span class="ant-alert-message">
		<div>节点管理是对系统中的功能的入库，这里是权限管理的关键地方，此部分请不要随意修改！</div>
	</span>
	<span class="ant-alert-description"></span>
</div>
				<div class="standardTable___348Kf">                           
					<table id="table" class="node_table">					 
					  <thead>
					  <tr><th>节点名称</th><th>主模块</th><th>权限名称</th><th>访问链接</th><th>排序</th><th>是否显示</th><th>操作</th></tr>
					  </thead>
					  <tbody>
					<volist name="node_tree" id="vo">
                    <tr class="cnode_0 cnode_<{$vo.id}>" data-id="<{$vo.id}>" data-level="<{$vo.level}>" data-name="<{$vo.title}>">
                        <td>
                            <img class="fold_tag fold" src="__IMAGE__/menu_minus.gif">
                            <a class="title" data="<{$vo.title}>"><{$vo.title}></a>
                        </td>
						<td class="zhu_module" data="<{$vo.zhu_module}>"><{$vo.zhu_module}></td>
						<td class="access_name" data="<{$vo.access_name}>"><{$vo.access_name}></td>
						<td class="name" data="<{$vo.name}>"><{$vo.name}></td>						
                        <td class="sort" data="<{$vo.sort}>"><{$vo.sort}></td>
                        <td class="ismenu" data="<{$vo.ismenu}>"><if condition="$vo['ismenu'] eq 1">是<else/>否</if></td>
                        <td>
                            <a class="btn_edit" href="javascript:void(0);">编辑</a>
                            &nbsp;|&nbsp;
                            <a class="btn_add" href="javascript:void(0);">添加子节点</a>
                            &nbsp;|&nbsp;
                            <a class="btn_dele" href="javascript:void(0);">删除</a>
                        </td>
                    </tr>
                    <if condition="is_array($vo['child'])">
                        <volist name="vo.child" id="v1">
                            <tr class="cnode_0 cnode_<{$vo.id}> cnode_<{$v1.id}>" data-id="<{$v1.id}>" data-level="<{$v1.level}>" data-name="<{$v1.title}>" style="display:none">
                                <td>
                                    <img class="fold_tag unfold" src="__IMAGE__/menu_minus.gif" style="margin-left: 10px">
									 <a class="title" data="<{$v1.title}>"><{$v1.title}></a>
								</td>
								<td class="zhu_module" data="<{$vo.zhu_module}>"><{$v1.zhu_module}></td>
								<td class="access_name" data="<{$v1.access_name}>"><{$v1.access_name}></td>
                                <td class="name" data="<{$v1.name}>"><{$v1.name}></td>
                                <td class="sort" data="<{$v1.sort}>"><{$v1.sort}></td>
                                <td class="ismenu" data="<{$v1.ismenu}>"><if condition="$v1['ismenu'] eq 1">是<else/>否</if></td>
                                <td>
                                    <a class="btn_edit" href="javascript:void(0);">编辑</a>
                                    &nbsp;|&nbsp;
                                    <a class="btn_add" href="javascript:void(0);">添加子节点</a>
                                    &nbsp;|&nbsp;
                                    <a class="btn_dele" href="javascript:void(0);">删除</a>
                                </td>
                            </tr>
                            <if condition="is_array($v1['child'])">
                                <volist name="v1.child" id="v2">
                                    <tr class="cnode_0 cnode_<{$vo.id}> cnode_<{$v1.id}>" data-id="<{$v2.id}>" data-level="<{$v2.level}>" data-name="<{$v2.title}>" style="display:none">
                                        <td>
                                            <img class="fold_tag unfold" src="__IMAGE__/menu_minus.gif" style="margin-left: 20px">
                                            <a class="title" data="<{$v2.title}>"><{$v2.title}></a>
                                        </td>
										<td class="zhu_module" data="<{$v2.zhu_module}>"><{$v2.zhu_module}></td>
										<td class="access_name" data="<{$v2.access_name}>"><{$v2.access_name}></td>
                                        <td class="name" data="<{$v2.name}>"><{$v2.name}></td>
                                        <td class="sort" data="<{$v2.sort}>"><{$v2.sort}></td>
                                        <td class="ismenu" data="<{$v2.ismenu}>"><if condition="$v2['ismenu'] eq 1">是<else/>否</if></td>
                                        <td>
                                            <a class="btn_edit" href="javascript:void(0);">编辑</a>
                                            &nbsp;|&nbsp;
                                            <a class="btn_add" href="javascript:void(0);">添加子节点</a>
                                            &nbsp;|&nbsp;
                                            <a class="btn_dele" href="javascript:void(0);">删除</a>
                                        </td>
                                    </tr>
                                </volist>
                            </if>
                        </volist>
                    </if>
                </volist>
					  </tbody>
					</table>
					<div class="page">
						<{$pagebar}>
					</div>	
				</div>                                
            </div>
        </div>
    </div>
</div>
				</div>
                <include file="Public/footer" />
			</div>
        </div>
    </div>
</div>
<script>
	$('#table').basictable(); 
	$(function () {
		//删除用户
        $('.btn_dele').click(function () {
            var id = $(this).parents('tr').attr('data-id');
            if (id == '') return false;
            layer.confirm('确定要删除该节点吗？', {
                btn: ['确定','取消']
            }, function(){
                doDeleMember(id);
            });
        });
		//新增用户
        $('.btn_add').click(function () {
            var pid = $(this).parents('tr').attr('data-id');		
			var menutips = (typeof(pid) == 'undefined')?"一级菜单":$(this).parents('tr').attr('data-name');
			pid = (typeof(pid) == 'undefined')?0:pid;				
            layer.open({
                type: 2,
                title: '添加'+menutips+"-子节点",
                skin: 'layui-layer', //加上边框
                area: ['80%',"80%"], //宽高
                content: "/Permission/addNode/pid/"+pid,
            });           
        });
		//编辑节点
        $('.btn_edit').click(function () {
            var _tr = $(this).parents('tr');
            var id = _tr.attr('data-id');          
            layer.open({
                type: 2,
                title: '添加用户',
                skin: 'layui-layer', //加上边框
                 area: ['80%',"80%"], //宽高
                content: "/Permission/updateNode/id/"+id,
            });           
        });
		//节点展开收起
        $('.node_table .fold_tag').click(function () {
            var _this_tr = $(this).parents('tr');
            var data_id = _this_tr.attr('data-id');
            if ($(this).hasClass('unfold')) {
                $(this).removeClass('unfold').addClass('fold').attr('src', '__IMAGE__/menu_plus.gif');
                _this_tr.siblings('.cnode_'+data_id).hide();
            }else {
                $(this).removeClass('fold').addClass('unfold').attr('src', '__IMAGE__/menu_minus.gif');
                _this_tr.siblings('.cnode_'+data_id).show();
            }
        });
		
	});
	
	 //删除用户
    function doDeleMember(id) {
        $.ajax({
            type:'post',
            dataType:'json',
            data:{id:id},
            url:'/Permission/deleteNode',
            error:function () {
                layer.msg('未知错误', {icon:5,time:1000});
            },
            success:function (data) {
                if (data.code == 1) {
                    layer.msg('删除成功', {icon:6,time:1000}, function () {location.reload()});
                }else {
                    layer.msg(data.msg, {icon:5,time:1000});
                }
            }
        });
    }
	
</script> 
</body>
</html>