<include file="Public/header" />
<link href="__CSS__/table.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="__CSS__/basictable.css" />
<script type="text/javascript" src="__JS__/jquery.basictable.min.js"></script>   
<link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css" />
<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>   
<script>
//一般直接写在一个js文件中
layui.use(['layer', 'form'], function(){
  var layer = layui.layer
  ,form = layui.form;
});
</script> 
<body>
<div id="root">
    <div class="screen-xl">
        <div class="ant-layout ant-layout-has-sider">
			<include file="Public/left_menu" />
            <div class="ant-layout">
				<include file="Public/top" />
                <div class="ant-layout-content" style="margin: 24px 24px 0px;">
<div style="margin: -24px -24px 0px;">
    <div class="pageHeader___Pze-l">
        <div class="breadcrumb___3MKYT ant-breadcrumb">          
			<span class="ant-breadcrumb-link"><a href="#">首页</a></span>
			<span class="ant-breadcrumb-separator">/</span>       
			<span>权限管理</span>
			<span class="ant-breadcrumb-separator">/</span>
			<button type="button" class="ant-btn ant-btn-primary ant-btn-sm member_add" style="float:right;margin-right:10px;">
				<span>+ 新建 </span>
			</button>
        </div>  
		<div >
		
		</div>
    </div>
	
    <div class="content___13wW7">
        <div class="ant-card">
            <div class="ant-card-body"> 
                        <div class="tableListForm___1316u">
                   <form class="layui-form">
					

                                <div class="ant-row">
									<div class="ant-col-sm-24 ant-col-md-5" >
										<div class="layui-form-item">
											<label class="layui-form-label">姓名</label>
											<div class="layui-input-block" style="margin-left:80px;!important">
												<input type="text" name="title" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
											</div>
										</div>
								    </div>
								  <div class="ant-col-sm-24 ant-col-md-5" >
									  <div class="layui-form-item">
										<label class="layui-form-label">状态</label>
										<div class="layui-input-block" style="margin-left:80px;!important">
										  <select name="city" lay-verify="required">
											<option value=""></option>
											<option value="0">开启</option>
											<option value="1">关闭</option>											
										  </select>
										</div>
									  </div>
								  </div>								                           
                                    <div class="ant-col-sm-24 ant-col-md-8" >
									 <div class="layui-form-item" style="min-height:36px; line-height:36px;margin-left:20px;">
										<button type="submit" class="ant-btn ant-btn-primary">
											<span>查 询</span></button>
										
										<a style="margin-left: 8px;">展开
											<i class="anticon anticon-down"></i></a>
                                      </div>
                                    </div>
                                </div>
                            </form>
                        </div>  
<!--<div  class="ant-alert ant-alert-info">
	<i class="anticon anticon-info-circle ant-alert-icon"></i>
	<span class="ant-alert-message">
		<div>角色管理页面</div>
	</span>
	<span class="ant-alert-description"></span>
</div>--> 
				<div class="standardTable___348Kf">                           
					<table id="table">
					  <thead>
						<tr><th>ID</th><th>角色名</th><th>启用</th><th>添加时间</th><th>操作</th></tr>
					  </thead>
					  <tbody>
							<volist name="list" id="vo">
								<tr data-id="<{$vo.id}>">
									<td class="id" data="<{$vo.id}>"><{$vo.id}></td>
									<td class="name" data="<{$vo.name}>"><{$vo.name}></td>
									<td class="status" data="<{$vo.status}>"><switch name="vo.status"><case value="1">是</case><case value="0">否</case></switch></td>
									<td class="create_time" data="<{$vo.create_time}>"><{$vo.create_time|date="Y-m-d H:i:s",###}></td>
									<td>
										<if condition="$vo['name'] neq '超级管理员'">
											<a class="btn_edit" href="javascript:void(0);">编辑</a>
											&nbsp;|&nbsp;
											<a class="btn_pri" href="javascript:void(0);">分配权限</a>
											&nbsp;|&nbsp;
											<a class="btn_dele" href="javascript:void(0);">删除</a>
										</if>
									</td>
								</tr>
							</volist>
					  </tbody>
					</table>
					<div class="page">
						<{$pagebar}>
					</div>	
				</div>                                
            </div>
        </div>
    </div>
</div>
				</div>
                <include file="Public/footer" />
			</div>
        </div>
    </div>
</div>
<script>
	$('#table').basictable(); 
	$(function () {
		//删除用户
        $('.btn_dele').click(function () {
            var id = $(this).parents('tr').attr('data-id');
            if (id == '') return false;
            layer.confirm('确定要删除该用户吗？', {
                btn: ['确定','取消']
            }, function(){
                doDeleMember(id);
            });
        });
		//新增用户
        $('.member_add').click(function () {
            layer.open({
                type: 2,
                title: '添加角色',
                skin: 'layui-layer', //加上边框
                area: ['350px',"250px"], //宽高
                content: "/Permission/roleadd"
            });           
        });
		//编辑用户
        $('.btn_edit').click(function () {
            var _tr = $(this).parents('tr');
            var id = _tr.attr('data-id');          
            layer.open({
                type: 2,
                title: '添加用户',
                skin: 'layui-layer', //加上边框
                area: ['350px', '400px'], //宽高
                content: "/Permission/roleedit/id/"+id
            });           
        });
	});
	
	 //删除用户
    function doDeleMember(id) {
        $.ajax({
            type:'post',
            dataType:'json',
            data:{id:id},
            url:'/Permission/roledelete',
            error:function () {
                layer.msg('未知错误', {icon:5,time:1000});
            },
            success:function (data) {
                if (data.code == 1) {
                    layer.msg('删除成功', {icon:6,time:1000}, function () {location.reload()});
                }else {
                    layer.msg(data.msg, {icon:5,time:1000});
                }
            }
        });
    }
	
</script> 
</body>

</html>